<div class="top-slider-sect">
  <div class="container">
    <div class="top-slider-wrap">

      <span id="topSliderPrev" class="prev-btn" ng-click="sliderCtl('prev', 'topSld')"><i class="land-cw cw-top-slider-prev"></i></span>
      <span id="topSliderNext" class="next-btn" ng-click="sliderCtl('next', 'topSld')"><i class="land-cw cw-top-slider-next"></i></span>

      <div id="topSlider">

        <div class="item">
          <span class="title">Бесплатные форекс-сигналы со всего мира</span>
          <p>Станьте клиентом Signum Place и получайте бесплатные торговые<br/>сигналы от ведущих менеджеров</p>
          <div class="btn-wrap">
            <a href="/registration" class="btn btn-green full-btn">Зарегистрироваться</a>
          </div>
          <img src="img/slider-map.png" alt="">
        </div>

        <div class="item">
          <span class="title">Получайте торговые сигналы на Ваш мобильный</span>
          <p>Установите приложение Signum Place и начните торговлю принимая<br/>форекс-сигналы на Вашем смартфоне.</p>
          <div class="btn-wrap">
            <span class="btn btn-green full-btn slide-btn" data-block="footer">Скачать приложение</span>
          </div>
          <img src="img/slider-map-2.png" alt="">
        </div>

      </div>
    </div><!-- top-slider-wrap end -->
  </div>
</div>

<div id="aboutSect">
  <div class="container">
    <h2 class="line-ttl text-center">Что такое Signum Place</h2>
    <p class="after-ttl text-center">Это новый подход к ведению операций на валютном рынке.<br/>Благодаря передовым технологиям и разработанным инструментам, ресурс гарантирует:</p>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-xs-12">
        <div class="about-item">
          <div class="img-wrap">
            <img src="img/img-1.png" alt="">
          </div>
          <div class="text-wrap">
            <span class="title">Уверенные вложения</span>
            <p>Уменьшите риск ведения операций на валютном рынке путем отслеживания финансовых колебаний.</p>
          </div>
        </div>
        
        <div class="about-item">
          <div class="img-wrap">
            <img src="img/img-2.png" alt="">
          </div>
          <div class="text-wrap">
            <span class="title">Точные торговые сигналы</span>
            <p>Получайте форекс-сигналы высокой точности от профессиональных трейдеров.</p>
          </div>
        </div>

        <div class="about-item">
          <div class="img-wrap">
            <img src="img/img-3.png" alt="">
          </div>
          <div class="text-wrap">
            <span class="title">Автоматизированную работу</span>
            <p>Экономьте время работая на финансовом рынке благодаря автоматизации торгов.</p>
          </div>
        </div>

        <div class="about-item">
          <div class="img-wrap">
            <img src="img/img-4.png" alt="">
          </div>
          <div class="text-wrap">
            <span class="title">прозрачную информацию</span>
            <p>Будьте уверены в подлинности данных, просматривая статистику, а также историю транзакций.</p>
          </div>
        </div>

        
      </div>
    </div>

  </div>
</div>

<div class="for-element-bg">
  <div id="possibleSect">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-12">
          <div id="possibleSlider">

          
             <div class="possible-item">
              <div class="title-wrap">
                <h2 class="line-ttl-left">Добро пожаловать!</h2>
              </div>
              <p>инвестируйте только такую сумму денег, которую не боитесь потерять , и в случаи неудачи это не обернется катастрофой для Вас и Вашего бюджета! </p>

              <p>Соблюдая это правило, торговля на форекс рынке принесёт Вам одно удовольствие и незабываемое впечатление.</p>
              <div class="btn-wrap">
                <a href="/registration" class="btn btn-green full-btn">Зарегистрироваться</a>
              </div>
            </div>
          
            <div class="possible-item">
              <div class="title-wrap">
                <h2 class="line-ttl-left">Торговля и сигналы</h2>
              </div>
              <p>Торговие сигналы ето подказки на покупки или продажу в определонное время.</p>

              <p>Как правило такие комплексние сигналы стоят дорого, но у вас существует возможность секономить, воспользуясь нашими торговыми сигналами.</p>
              <div class="btn-wrap">
                <a href="/registration" class="btn btn-green full-btn">Зарегистрироваться</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="commentsSect">
    <div class="container">
      <h2 class="line-ttl text-center">Комментарии</h2>
      <p class="after-ttl text-center">Что говорят о сервисе клиенты Signum Place</p>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">

          <div class="comment-slide-wrap">

            <span id="commSliderPrev" class="prev-btn" ng-click="sliderCtl('prev', 'commSld')"><i class="land-cw cw-comm-slider-prev"></i></span>
            <span id="commSliderNext" class="next-btn" ng-click="sliderCtl('next', 'commSld')"><i class="land-cw cw-comm-slider-next"></i></span>

            <div id="commentSlider">

              <div class="comment-item">
                <div class="user-icon">
                  <img src="img/user-1_1.png" alt="">
                </div>
                <span class="user-name text-center">Виктория Голубец</span>
                <span class="user-type text-center">Trader</span>
                <div class="user-comment">
                  <i>Отличные сигналы и отличная прибыльность. Очень качественная поддержка клиентов. Минимальные просадки. Я довольна!</i>
                </div>
              </div>

              <div class="comment-item">
                <div class="user-icon">
                  <img src="img/user-1_1.png" alt="">
                </div>
                <span class="user-name text-center">Victor Braun</span>
                <span class="user-type text-center">Trader</span>
                <div class="user-comment">
                  <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus lectus id leo dignissim, eu efficitur ex gravida. Duis vel diam nec augue interdum feugiat non tincidunt augue. Aenean elit dui, suscipit vel magna a, euismod interdum dui. Donec non elit mauris. Mauris tincidunt</i>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="priceSect">
  <div class="container">
    <h2 class="line-ttl text-center">Прайс</h2>
    <p class="after-ttl text-center">Signum Place рассчитан на разные категории пользователей, поэтому<br/> предлагается несколько видов аккаунтов:</p>

    <div class="text-center">

      <div class="price-item">
        <div class="head-blk">
          <div class="head-wrap">
            <span class="ttl">Basik</span>
            <img src="img/price-1.png" alt="">
          </div>
          <div><img src="img/bottom-radius.png" alt=""></div>
        </div>
        <div class="body-blk">
          <ul>
            <li>Все сигналы приходят<br/>из терминала трейдера в мобильное приложение push-уведомлением</li>
            <li>Бесплатные сигналы для пары EUR/USD</li>
            <li>Реклама внутри приложения</li>
          </ul>
        </div>
      </div>

      <div class="price-item">
        <div class="head-blk">
          <div class="head-wrap">
            <span class="ttl">Standard</span>
            <img src="img/price-2.png" alt="">
          </div>
          <div><img src="img/bottom-radius.png" alt=""></div>
        </div>
        <div class="body-blk">
          <ul>
            <li>Все сигналы приходят<br/>из терминала трейдера в мобильное приложение push-уведомлением</li>
            <li>Сигналы по всем торгуемым парам</li>
            <li>Реклама отключена</li>
          </ul>
        </div>
      </div>

      <div class="price-item">
        <div class="head-blk">
          <div class="head-wrap">
            <span class="ttl">Premium</span>
            <img src="img/price-3.png" alt="">
          </div>
          <div><img src="img/bottom-radius.png" alt=""></div>
        </div>
        <div class="body-blk">
          <ul>
            <li>Все сигналы приходят<br/>из терминала трейдера в мобильное приложение push-уведомлением</li>
            <li>Сигналы по всем торгуемым парам</li>
            <li>Реклама отключена</li>
            <li>Бесплатный VPS + настройка</li>
            <li>Копирование сигналов и автоматическое наполнение в Вашем терминале Метатрейдер</li>
          </ul>
        </div>
      </div>
      
      <div class="btn-wrap">
        <a href="/registration" class="btn btn-green full-btn">Зарегистрироваться</a>
      </div>

    </div>

  </div>
</div>