<h4 class="title">Edit provider</h4>
<div class="edit-form" ng-controller="editProviderCtl">
  <div class="item clearfix">
    <div class="wrap-blk text-center">
      <div class="upload-wrap">
        <div class="img-wrap"></div>
        <label class="dash-cw cw-upload">
          <input type="file" id="file" name="file" file-model="files" accept="image/jpeg,image/png,image/gif">
        </label>
      </div>
    </div>
  </div>
  <div class="item clearfix">
    <div class="wrap-blk">
      <input type="text" placeholder="Provider name" ng-model='editProvider.provider_name' class="input-stl inv">
    </div>
  </div>
  <div class="item clearfix">
    <div class="wrap-blk">
      <div class="provider-gen-code">
        <input type="text" placeholder="Provider code" ng-model='editProvider.provider_code' class="input-stl inv" disabled>
      </div>
    </div>
  </div>
  <div class="item clearfix">
    <div class="wrap-blk">
      <div class="multi-select-wrap">
        <div class="multi-select-stl inv" ng-class="{ open: multiOpen }" ng-click="multiOpen = !multiOpen"><span class="selected">{{selectListM || 'Managers'}}</span></div>
        <div class="list-wra">
          <div class="inner-wrap">
            <ul>
              <li ng-repeat="manager in editProvider.managers">
                <div class="check-stl" ng-click="itemCheck[manager.id] = !itemCheck[manager.id]; multiSelect(selectListM, !itemCheck[manager.id], manager.first_name, manager.id, 'selectListM', 'selectIDListM')">
                  <div class="check-style" ng-class="{ check: !itemCheck[manager.id] }"></div><span class="text">{{manager.first_name}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="password-wrap clearfix">
    <div class="item clearfix">
      <div class="wrap-blk">
        <span class="sect-title">Do you want change provider price ?</span>
      </div>
    </div>
    <div class="item clearfix">
      <div class="wrap-blk">
        <input type="text" placeholder="Standart, $" ng-model='editProvider.standard_price' class="input-stl inv">
      </div>
    </div>
    <div class="item clearfix">
      <div class="wrap-blk">
        <input type="text" placeholder="Standart, $" ng-model='editProvider.premium_price' class="input-stl inv">
      </div>
    </div>
  </div>
  <div class="foot-btns">
    <button class="btn btn-green" ng-click="destrModal()">Cancel</button>
    <button class="btn btn-green" ng-click="sendEditProvider(editProvider)">Accept</button>
  </div>
</div>